<header class="main-header">
  <div class="container container-header">
    <button
      type="button"
      class="burger-menu"
      data-modal-menu-open
      aria-label="Open menu"
    >
      <svg class="burger-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <nav class="header-nav">
      <ul class="header-list">
        <li><a class="header-link" href="#yoga_classes">Yoga Classes</a></li>
        <li><a class="header-link" href="#team">Team</a></li>
        <li><a class="header-link" href="#testimonials">Testimonials</a></li>
        <li><a class="header-link" href="#pricing">Pricing</a></li>
        <li><a class="header-link" href="#footer">Contacts</a></li>
      </ul>
    </nav>
    <a class="yb-brand" href="">
      <svg class="yb-brand-logo" width="84" height="36">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
    </a>

    <a class="yb-join" href="#join-now">Join now</a>
  </div>
</header>
