<!-- #region Modal Price Low -->
<div class="modal-price" id="modal-low" data-modal-low>
  <div class="modal-container">
    <button class="btn-modal-close" type="button" data-modal-low-close>
      <svg class="btn-modal-close-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="modal-text-list">
      <li class="modal-text-item">
        <p class="modal-text-title">Join Now!</p>
      </li>
      <li class="modal-text-item">
        <p class="modal-text-content">One Session</p>
      </li>
      <li class="modal-text-item">
        <p class="modal-text-price">$10</p>
      </li>
    </ul>
    <form class="modal-form">
      <div class="modal-form-wrapper">
        <label class="modal-label" for="your-name">Your Name</label>
        <input
          class="modal-input"
          type="text"
          id="your-name-low"
          required
          placeholder="Your Name"
        />
      </div>
      <div class="wrapper-contacts">
        <div class="modal-form-wrapper">
          <label class="modal-label" for="your-email">Email</label>
          <input
            class="modal-input"
            type="email"
            id="your-email-low"
            required
            placeholder="Email"
          />
        </div>
        <div class="modal-form-wrapper">
          <label class="modal-label" for="your-phone">Phone number</label>
          <input
            class="modal-input"
            type="tel"
            id="your-phone-low"
            required
            placeholder="Phone number"
          />
        </div>
      </div>
      <button class="modal-form-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
<!-- #endregion Modal Price Low -->

<!-- #region Modal Price Middle -->
<div class="modal-price" id="modal-middle" data-modal-middle>
  <div class="modal-container">
    <button class="btn-modal-close" type="button" data-modal-middle-close>
      <svg class="btn-modal-close-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="modal-text-list">
      <li class="modal-text-item">
        <p class="modal-text-title">Join Now!</p>
      </li>
      <li class="modal-text-item">
        <p class="modal-text-content">8 Sessions Package</p>
      </li>
      <li class="modal-text-item">
        <p class="modal-text-price">$65</p>
      </li>
    </ul>
    <form class="modal-form">
      <div class="modal-form-wrapper">
        <label class="modal-label" for="your-name">Your Name</label>
        <input
          class="modal-input"
          type="text"
          id="your-name-middle"
          required
          placeholder="Your Name"
        />
      </div>
      <div class="wrapper-contacts">
        <div class="modal-form-wrapper">
          <label class="modal-label" for="your-email">Email</label>
          <input
            class="modal-input"
            type="email"
            id="your-email-middle"
            required
            placeholder="Email"
          />
        </div>
        <div class="modal-form-wrapper">
          <label class="modal-label" for="your-phone">Phone number</label>
          <input
            class="modal-input"
            type="tel"
            id="your-phone-middle"
            required
            placeholder="Phone number"
          />
        </div>
      </div>
      <button class="modal-form-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
<!-- #endregion Modal Price Middle -->

<!-- #region Modal Price Top -->
<div class="modal-price" id="modal-top" data-modal-top>
  <div class="modal-container">
    <button class="btn-modal-close" type="button" data-modal-top-close>
      <svg class="btn-modal-close-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="modal-text-list">
      <li class="modal-text-item">
        <p class="modal-text-title">Join Now!</p>
      </li>
      <li class="modal-text-item">
        <p class="modal-text-content">12 Sessions Package</p>
      </li>
      <li class="modal-text-item">
        <p class="modal-text-price">$80</p>
      </li>
    </ul>
    <form class="modal-form">
      <div class="modal-form-wrapper">
        <label class="modal-label" for="your-name">Your Name</label>
        <input
          class="modal-input"
          type="text"
          id="your-name-top"
          required
          placeholder="Your Name"
        />
      </div>
      <div class="wrapper-contacts">
        <div class="modal-form-wrapper">
          <label class="modal-label" for="your-email">Email</label>
          <input
            class="modal-input"
            type="email"
            id="your-email-top"
            required
            placeholder="Email"
          />
        </div>
        <div class="modal-form-wrapper">
          <label class="modal-label" for="your-phone">Phone number</label>
          <input
            class="modal-input"
            type="tel"
            id="your-phone-top"
            required
            placeholder="Phone number"
          />
        </div>
      </div>
      <button class="modal-form-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
<!-- #endregion Modal Price Top -->

<!-- #region Mobile Menu  -->
<div class="mobile-menu" id="mobile-menu" data-modal-menu>
  <div class="mobile-menu-container">
    <div class="mobile-menu-header">
      <button class="mobile-menu-close-btn" type="button" data-modal-menu-close>
        <svg class="mobile-menu-close-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <a href="./index.html" class="mobile-menu-link-logo">
        <svg class="mobile-menu-logo" width="84" height="36">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <a class="mobile-header-link-btn" href="#pricing">Join Now</a>
    </div>
    <div class="mobile-navigation-container">
      <nav class="mobile-navigation">
        <ul class="mobile-navigation-list">
          <li class="mobile-navigation-item">
            <a class="mobile-navigation-link" href="#yoga_classes"
              >Yoga Classes</a
            >
          </li>
          <li class="mobile-navigation-item">
            <a class="mobile-navigation-link" href="#team">Team</a>
          </li>
          <li class="mobile-navigation-item">
            <a class="mobile-navigation-link" href="#testimonials"
              >Testimonials</a
            >
          </li>
          <li class="mobile-navigation-item">
            <a class="mobile-navigation-link" href="#pricing">Pricing</a>
          </li>
          <li class="mobile-navigation-item">
            <a class="mobile-navigation-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <a class="mobile-link-btn" href="#pricing">Join Now</a>
    </div>
  </div>
</div>

<!-- #endregion Modal Menu -->
