<section class="team-section" id="team">
  <div class="team-wrapper container">
    <h2 class="team-title">
      <span class="meet-text">Meet</span>
      Our Team
    </h2>
    <p class="team-text">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team-list">
      <li class="team-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/webp/team-img/liam-johnson.d.webp,
              /img/webp/team-img/liam-johnson.d.@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/team-img/liam-johnson.webp,
              /img/webp/team-img/liam-johnson@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/webp/team-img/liam-johnson.m.webp,
              /img/webp/team-img/liam-johnson.m.@2x.webp 2x
            "
          />
          <img
            class="team-img"
            src="/img/webp/team-img/liam-johnson.m.webp"
            alt="liam-johnson"
            width="421"
            height="395"
          />
        </picture>
        <div class="team-member-box">
          <h3 class="team-member-name">Liam Johnson</h3>
          <p class="team-member">Yoga Instructor</p>
          <p class="team-member-role">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
        </div>
        <div class="team-social-list">
          <ul class="team-social">
            <li class="team-member-social">
              <a
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                target="_blank"
                ><svg
                  class="icon-linkedin"
                  width="24"
                  height="24"
                  fill="#0D0B0A"
                >
                  <use href="/img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-member-social">
              <a href="https://www.instagram.com/goitclub/" target="_blank">
                <svg
                  class="icon-instagram"
                  width="24"
                  height="24"
                  fill="#0D0B0A"
                >
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/webp/team-img/emma-stone.d.webp,
              /img/webp/team-img/emma-stone.d.@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/team-img/emma-stone.webp,
              /img/webp/team-img/emma-stone@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/webp/team-img/emma-stone.m.webp,
              /img/webp/team-img/emma-stone.m.@2x.webp 2x
            "
          />
          <img
            class="team-img"
            src="/img/webp/team-img/emma-stone.m.webp"
            alt="Emma Stone"
            width="421"
            height="395"
          />
        </picture>
        <div class="team-member-box">
          <h3 class="team-member-name">Emma Stone</h3>
          <p class="team-member">Meditation Coach</p>
          <p class="team-member-role">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
        </div>
        <div class="team-social-list">
          <a
            class="team-member-social"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
            target="_blank"
            ><svg class="icon-linkedin" width="24" height="24" fill="#0D0B0A">
              <use href="/img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/webp/team-img/sophia-lee.d.webp,
              /img/webp/team-img/sophia-lee.d.@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/team-img/sophia-lee.webp,
              /img/webp/team-img/sophia-lee@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/webp/team-img/sophia-lee.m.webp,
              /img/webp/team-img/sophia-lee.m.@2x.webp 2x
            "
          />
          <img
            class="team-img"
            src="/img/webp/team-img/sophia-lee.m.webp"
            alt="Sophia Lee"
            width="421"
            height="395"
          />
        </picture>
        <div class="team-member-box">
          <h3 class="team-member-name">Sophia Lee</h3>
          <p class="team-member">Pilates Trainer</p>
          <p class="team-member-role">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
        </div>
        <div class="team-social-list">
          <a
            class="team-member-social"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="icon-instagram" width="24" height="24" fill="#0D0B0A">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/webp/team-img/noah-brown.d.webp,
              /img/webp/team-img/noah-brown.d.@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/team-img/noah-brown.webp,
              /img/webp/team-img/noah-brown@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/webp/team-img/noah-brown.m.webp,
              /img/webp/team-img/noah-brown.m.@2x.webp 2x
            "
          />
          <img
            class="team-img"
            src="/img/webp/team-img/noah-brown.m.webp"
            alt="Noah Brown"
            width="421"
            height="395"
          />
        </picture>
        <div class="team-member-box">
          <h3 class="team-member-name">Noah Brown</h3>
          <p class="team-member">Yoga Therapist</p>
          <p class="team-member-role">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
        </div>
        <div class="team-social-list">
          <a
            class="team-member-social"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
            target="_blank"
            ><svg class="icon-linkedin" width="24" height="24" fill="#0D0B0A">
              <use href="/img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/webp/team-img/ava-green.d.webp,
              /img/webp/team-img/ava-green.d.@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/team-img/ava-green.webp,
              /img/webp/team-img/ava-green@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/webp/team-img/ava-green.m.webp,
              /img/webp/team-img/ava-green.m.@2x.webp 2x
            "
          />
          <img
            class="team-img"
            src="/img/webp/team-img/ava-green.m.webp"
            alt="Ava Green"
            width="421"
            height="395"
          />
        </picture>
        <div class="team-member-box">
          <h3 class="team-member-name">Ava Green</h3>
          <p class="team-member">Fitness Trainer</p>
          <p class="team-member-role">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
        </div>
        <div class="team-social-list">
          <ul class="team-social">
            <li class="team-member-social">
              <a href="https://www.facebook.com/goITclub/" target="_blank">
                <svg
                  class="icon-facebook"
                  width="24"
                  height="24"
                  fill="#0D0B0A"
                >
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-member-social">
              <a href="https://www.instagram.com/goitclub/" target="_blank"
                ><svg
                  class="icon-instagram"
                  width="24"
                  height="24"
                  fill="#0D0B0A"
                >
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-member-social">
              <a
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                target="_blank"
                ><svg
                  class="icon-linkedin"
                  width="24"
                  height="24"
                  fill="#0D0B0A"
                >
                  <use href="/img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/webp/team-img/clark-thomas.d.webp,
              /img/webp/team-img/clark-thomas.d.@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/team-img/clark-thomas.webp,
              /img/webp/team-img/clark-thomas@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/webp/team-img/clark-thomas.m.webp,
              /img/webp/team-img/clark-thomas.m.@2x.webp 2x
            "
          />
          <img
            class="team-img"
            src="/img/webp/team-img/clark-thomas.m.webp"
            alt="Clark Thomas"
            width="421"
            height="395"
          />
        </picture>
        <div class="team-member-box">
          <h3 class="team-member-name">Clark Thomas</h3>
          <p class="team-member">Fitness Trainer</p>
          <p class="team-member-role">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
        </div>
        <div class="team-social-list">
          <ul class="team-social">
            <li class="team-member-social">
              <a href="https://www.facebook.com/goITclub/" target="_blank">
                <svg
                  class="icon-facebook"
                  width="24"
                  height="24"
                  fill="#0D0B0A"
                >
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-member-social">
              <a href="https://www.instagram.com/goitclub/" target="_blank"
                ><svg
                  class="icon-instagram"
                  width="24"
                  height="24"
                  fill="#0D0B0A"
                >
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
