<section class="yoga section" id="yoga_classes">
  <div class="container">
    <p class="yoga-title-up">Explore</p>
    <h2 class="yoga-title">Discover Our Most Popular Yoga Programs</h2>
    <p class="yoga-title-descr">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="yoga-list">
      <li class="yoga-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/webp/yoga-classes-img/beginner-yoga-d.webp    1x,
              /img/webp/yoga-classes-img/beginner-yoga-d@2x.webp 2x
            "
            width="421"
            height="240"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/yoga-classes-img/beginner-yoga-t.webp    1x,
              /img/webp/yoga-classes-img/beginner-yoga-t@2x.webp 2x
            "
            width="340"
            height="240"
          />
          <img
            class="yoga-image"
            src="/img/webp/yoga-classes-img/beginner-yoga-m.webp"
            srcset="
              /img/webp/yoga-classes-img/beginner-yoga-m.webp    1x,
              /img/webp/yoga-classes-img/beginner-yoga-m@2x.webp 2x
            "
            alt="beginner-yoga"
            width="343"
            height="198"
            loading="lazy"
          />
        </picture>
        <h3 class="yoga-item-title">Beginner Yoga: Foundations</h3>
        <p class="yoga-item-descr">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>

      <li class="yoga-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/webp/yoga-classes-img/vinyasa-flow-d.webp    1x,
              /img/webp/yoga-classes-img/vinyasa-flow-d@2x.webp 2x
            "
            width="421"
            height="240"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/yoga-classes-img/vinyasa-flow-t.webp    1x,
              /img/webp/yoga-classes-img/vinyasa-flow-t@2x.webp 2x
            "
            width="340"
            height="240"
          />
          <img
            class="yoga-image"
            src="/img/webp/yoga-classes-img/vinyasa-flow-m.webp"
            srcset="
              /img/webp/yoga-classes-img/vinyasa-flow-m.webp    1x,
              /img/webp/yoga-classes-img/vinyasa-flow-m@2x.webp 2x
            "
            alt="vinyasa-flow"
            width="343"
            height="198"
            loading="lazy"
          />
        </picture>
        <h3 class="yoga-item-title">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="yoga-item-descr">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>

      <li class="yoga-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/webp/yoga-classes-img/restorative-yoga-d.webp    1x,
              /img/webp/yoga-classes-img/restorative-yoga-d@2x.webp 2x
            "
            width="421"
            height="240"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/yoga-classes-img/restorative-yoga-t.webp    1x,
              /img/webp/yoga-classes-img/restorative-yoga-t@2x.webp 2x
            "
            width="704"
            height="282"
          />
          <img
            class="yoga-image"
            src="/img/webp/yoga-classes-img/restorative-yoga-m.webp"
            srcset="
              /img/webp/yoga-classes-img/restorative-yoga-m.webp    1x,
              /img/webp/yoga-classes-img/restorative-yoga-m@2x.webp 2x
            "
            alt="restorative-yoga"
            width="343"
            height="198"
            loading="lazy"
          />
        </picture>
        <h3 class="yoga-item-title">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="yoga-item-descr">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <a href="#pricing" class="yoga-link">Join now</a>
  </div>
</section>
